<html>
    <head>

    </head>
    <body>
        <div class="footer">
               
                    <div><a href="https://www.upgrad.com/contact/" target="_blank">Contact Us</a></div>
                    <div id="copyright">©upGrad</div>
                    <div>
                        <a href="https://www.facebook.com/UpGradGlobal" target="_blank">Facebook</a>&nbsp;
                        <a href="https://twitter.com/UpGrad_Edu" target="_blank">Twitter </a>
                    </div>                
                
        </div>
    </body>
</html>
