<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div>
  <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
       <div> <i class="fa fa-car" aria-hidden="true"><button id="hire" class="btn btn-link" [routerLink]="['/home']" >HireWheels</button></i></div>
        <div><button class="btn btn-link" style="color: white;">Sign In</button></div>
      </div>
      
     
  </nav>
</div>
</body>
</html>
