.navbar{
    background-color: #1565c0;
    color: white;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#hire{
    color:white;
    text-decoration: none;
}