<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
  
        <div class="book">
            <div class="row"><h3>Self-drive vehicle rental in Mumbai</h3></div><br>
            <div class="row"><button type="button" class="btn btn-success" [routerLink]="['/book']">Book Now <i class="fa fa-arrow-circle-right"></i></button></div>
            </div>
            
            
    </body>
</html>
