<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
  
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8" style="text-align: center;"><h3>Self-drive vehicle rental in Mumbai</h3></div>
                <div class="col-md-2"></div>
            </div><br>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8" style="text-align: center;"><button type="button" class="btn btn-success" [routerLink]="['/book']">Book Now <i class="fa fa-arrow-circle-right"></i></button></div>
                <div class="col-md-2"></div>
            </div>
            </div>
            
            
    </body>
</html>
