#forgot,#signup{
    text-align: center;
}
#sign{
    background-color: #1565c0;
    color: white;
    border-radius: 0%;
}

#signintab,#signuptab{
    color:black;
    text-align: center;
}
#signintab{
    width:350px;
}
#signuptab{
    width:348px;
}